<!-- <ion-header>
  <ion-toolbar>
    <ion-title>qrscanner</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header-bg">
    <div class="title-tab">
      <div class="back-box">
        <img src="./assets/icon/left-arrow-white.svg" alt="">
      </div>
      <div class="title-box">
        สแกนเพิ่มสมาชิกครอบครัว
      </div>
    </div>
  </div>

  <div style="width: 100%; position: absolute; bottom: 5vh; justify-content: center; display: flex;">
    <img src="./assets/icon/fam-logo2.png" alt="">
  </div>
</ion-content>