<!-- <ion-header>
  <ion-toolbar>
    <ion-title>name</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="bg"></div>
    <div class="logo-box">
      <img src="./assets/icon/logo.png" alt="">
    </div>
  
    <div class="input-box">
      <div class="text">
          ป้อนชื่อของคุณ
      </div>
      <div style="width: 80%;">
        <input class="input-text" type="text" placeholder="ชื่อของคุณ" [(ngModel)]="name">
      </div>
    </div>
  
    <div class="button-box">
      <div class="btn-tab">
        <!-- <div class="btn-back" (click)="gotoOTP()">
          BACK
        </div> -->
        <div class="btn-next" (click)="gotoHome()">
          NEXT
        </div>
      </div>
      <div class="logo-fam">
        <img src="./assets/icon/fam-logo2.png" alt="">
      </div>
    </div>
</ion-content>
