<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splashscreen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div class="bg"></div> -->
  <div class="logo-box">
    <img src="./assets/icon/logo.png" alt="">
  </div>

  <div class="button-box">
    <div class="btn" (click)="gotoPhoneNumber()">
      NEXT
    </div>
    <div style="margin-top: 10vw; width: 100%; display: flex; justify-content: center; align-items: center">
      <img src="./assets/icon/fam-logo2.png" style="width: 40%;" alt="">
    </div>
  </div>

</ion-content>